/* GLOBAL STYLES START */

:root {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.section-title {
  font-size: 5rem;
  text-align: center;
  line-height: 1.25;
}

/* CUSTOM FONT START */

/* 400 normal */
@font-face {
  font-family: 'ArgentumNovus';
  src: url('./assets/fonts/ArgentumNovus-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

/* 400 italic */
@font-face {
  font-family: 'ArgentumNovus';
  src: url('./assets/fonts/ArgentumNovus-Italic.ttf');
  font-weight: 400;
  font-style: italic;
}

/* 500 normal */
@font-face {
  font-family: 'ArgentumNovus';
  src: url('./assets/fonts/ArgentumNovus-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}

/* 500 italic */
@font-face {
  font-family: 'ArgentumNovus';
  src: url('./assets/fonts/ArgentumNovus-MediumItalic.ttf');
  font-weight: 500;
  font-style: italic;
}

/* 700 normal */
@font-face {
  font-family: 'ArgentumNovus';
  src: url('./assets/fonts/ArgentumNovus-SemiBold.ttf');
  font-weight: 700;
  font-style: normal;
}

/* 700 italic */
@font-face {
  font-family: 'ArgentumNovus';
  src: url('./assets/fonts/ArgentumNovus-SemiBoldItalic.ttf');
  font-weight: 700;
  font-style: italic;
}

/* 300 normal */
@font-face {
  font-family: 'ArgentumNovus';
  src: url('./assets/fonts/ArgentumNovus-Light.ttf');
  font-weight: 300;
  font-style: normal;
}

/* 300 italic */
@font-face {
  font-family: 'ArgentumNovus';
  src: url('./assets/fonts/ArgentumNovus-LightItalic.ttf');
  font-weight: 300;
  font-style: italic;
}

/* CUSTOM FONT END */

body {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  font-family: 'ArgentumNovus';
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: hsl(0, 0%, 20%);
}

/* GLOBAL STYLES END */

/* HEADER START */

header {
  color: hsl(0, 0%, 100%);
  background: linear-gradient(
      to bottom,
      hsla(0, 0%, 0%, 0.479) 0%,
      hsla(0, 0%, 15%, 0.3) 100%
    ),
    url('./assets/images/wp2852192.webp') no-repeat center / cover;
}

.header-container {
  max-width: 144rem;
  margin: 0 auto;
  min-height: 70rem;
}

/* MAIN NAV START */

.nav-links {
  display: flex;
  gap: 5em;
  justify-content: end;
  margin: 0;
  list-style: none;
  padding: 5rem 0;
}

.nav-links a {
  color: inherit;
  text-decoration: none;
  font-size: 2rem;
}

.nav-links a:hover {
  text-decoration: underline;
}

/* MAIN NAV END */

/* HERO START */

.intro {
  max-width: 65rem;
}

.main-title {
  font-size: 6.5rem;
  margin: 0.3em 0;
}

.btn {
  padding: 0.5em 1.5em;
  background-color: hsl(0, 70%, 65%);
  border: none;
  border-radius: 1em;
  font-size: 2rem;
  margin: 2em 0;
  transition: background 0.5s ease-in-out;
}

.btn-link {
  color: hsl(0, 0%, 100%);
  text-decoration: none;
  font-family: inherit;
}

.btn:hover,
.btn:focus {
  background: hsl(0, 85%, 55%);
}

/* HERO END */

/* HEADER END */

/* NEWS SECTION START */

.news {
  max-width: 144rem;
  margin: 15rem auto;
}

.news-container {
  display: flex;
  gap: 10rem;
  margin: 0 5rem;
}

.news-card {
  border-radius: 2rem;
  overflow: hidden;
  box-shadow: 0px 0px 20px hsla(0, 0%, 0%, 0.226);
}

.news-card-img {
  height: 25rem;
  overflow: hidden;
}

.news-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.news-text {
  padding: 1.5em;
}

.news-title {
  font-size: 2.5rem;
  margin: 0.5em 0;
  line-height: 1.25;
  font-weight: 500;
  font-style: italic;
}

/* NEWS SECTION END */

/* TESTIMONIAL SECTION START */

.testimonials {
  background: hsl(0, 0%, 91%);
  padding: 20rem 0;
}

.quote {
  max-width: 144rem;
  margin: 0 auto;
  text-align: center;
}

.quote-text {
  font-size: 3rem;
}

.quote-author {
  font-size: 2rem;
}

/* TESTIMONIAL SECTION END */

/* CTA SECTION START */

.cta-container {
  color: hsl(0, 0%, 100%);
  max-width: 144rem;
  margin: 10rem auto;
  background: rgb(0, 58, 105);
  display: flex;
  align-items: center;
  padding: 2em 10em;
  justify-content: space-between;
  border-radius: 3.5rem;
}

.cta-text {
  max-width: 70rem;
}

.cta-title {
  font-size: 3rem;
  line-height: 1.25;
  margin: 0.5em 0;
}

/* CTA SECTION END */

/* FOOTER START */

.footer {
  color: hsl(0, 0%, 100%);
  background: hsl(0, 0%, 12%);
  text-align: center;
}

.footer-text {
  margin: 0;
  padding: 1.5em 0;
  font-size: 2rem;
}
